header{
    margin: 25px;
    float: left;
    color: white;
}

body{
    background-image: url(bg-intro-desktop.png);
    background-size: 100%;
    background-color: salmon;
    font-style: ;
}

#BotonTry{
    float: right;
    background-color: slateblue;
    margin-left: 5px;
    border-radius: 5px;
    
}
form{
    float: right;
    background-color: white;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    margin-top: 35px;
    }

input{
    margin: 5px;
    text-align: left;
    padding-right: 45px;
    border-radius: 5px;
    border-style: solid;
}

#BotonClaim{
    background-color:chartreuse;
    margin-top: 5px;
    margin-left: 6px;
    border-radius: 5px;
    color: white;
    padding-right: 43px;
}

