* {
  margin: 0;
  border: 0;
}
main {
  display: flex;

  div {
    width: 100px;
    height: 100px;
    background-color: black;
  }
}

@media only screen and( min-width: 768px) {
  .element {
    border-radius: 100%;
    background-color: red;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    article {
      width: 40%;
      img {
        width: 80%;
      }
    }
  }
}

@media only screen and( min-width: 992px) {
  .element {
    border-radius: 0;
    width: 50vw;
    height: 25vh;
    background-color: blue;
  }
section{
    justify-content: space-around;
    

  article {
    
    width: 18%;
    padding: 0;
    margin: 0;
    
    
    img {
      width: 80%;
    }
  }
}
}