body{
    background-color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: row;
    border:black 5px solid ;
    margin: 1rem;
    background-color: white;
    }

article{
    background-color: peru;
    border: black 2px solid;
    border-radius: 2REM;
    padding: 1rem;
    margin: 0.25rem;
    
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-around{
    justify-content: space-around;
}

.flex-between{
    justify-content: space-between;
}

.flex-evenly{
    justify-content: space-evenly;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

h2{
    margin-left: 1rem ;
    color: black;
}

.TITLES-EX{
    font-size: 25pt;
    color: rgb(133, 4, 14);
}

